@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Bebas+Neue&family=Bungee&family=Dangrek&family=Koulen&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Moul&family=Playwrite+DE+SAS:wght@100..400&family=Shadows+Into+Light&display=swap');
@font-face {
  font-family: "blazed";
  src: url(./Blazed.ttf);
}
@font-face {
  font-family: "facon";
  src: url(./Facon.ttf);
}
@font-face {
  font-family: "autumn";
  src: url(Autumn\ History\ Demo.otf);
}
@font-face {
  font-family: "a";
  src: url(./Lucy\ Said\ Ok\ Personal\ Use.ttf);
}
@font-face {
  font-family: "b";
  src: url(./Quivert.ttf);
}
@font-face {
  font-family: "c";
  src: url(./Rockybilly.ttf);
}
@font-face {
  font-family: "d";
  src: url(./Awesome.ttf);
}
@font-face {
  font-family: "e";
  src: url(./Angelos.ttf);
}
@font-face {
  font-family: "f";
  src: url(./Valty\ DEMO.otf);
}
@font-face {
  font-family: "g";
  src: url(./Rasedia-Regular.otf);
}
@font-face {
  font-family: "h";
  src: url(./Blinery.otf);
}
@font-face {
  font-family: "Bokor";
  src: url(./Bokor.ttf);
}
@font-face {
  font-family: "kh1";
  src: url(./Kh\ Baphnom_MengSocheath\ Italic.ttf);
}

@font-face {
  font-family: "kh2";
  src: url(./kh\ virak\ folktale.ttf);
}
@font-face {
  font-family: "kh3";
  src: url(./Kh\ Baphnom\ 020\ MengSotin\ Italic.ttf);
}
@font-face {
  font-family: "kh4";
  src: url(./ASvadek\ Kbach\ S\ Italic\ [Version\ 1.00].ttf);
}
@font-face {
  font-family: "kh5";
  src: url(./Kh\ Baphnom\ 040\ Darina\ Italic.ttf);
}
@font-face {
  font-family: "kh6";
  src: url(./Kh\ Ang\ PheaSaKhmer.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: auto;
    width: 100%;
   
}

.menu-bar {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    
   
    
}

.menu-bar p {
    color: yellow;
    font-size: 30px;
    padding-left: 20px;
    font-family: "Lilita One", sans-serif;
}

/* --- Main Menu --- */
.menu-bar ul {
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
}

.menu-bar ul li {
    padding: 0 10px;
    margin-top: 10px;
    position: relative;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    /* font-family: kh2; */
    position: relative;
}

.menu-bar ul li a:after {
    content: '';
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
    transition: 0.5s;
}

.menu-bar ul li a:hover:after {
    width: 100%;
}

.menu-bar ul li a:hover {
    color: red;
}

/* --- DROPDOWN MENU --- */
.menu-bar ul li .dropdown {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    min-width: 150px;
    z-index: 10;
}
/* .menu-bar ul li .dropdown a{
  font-family: kh6;
} */

.menu-bar ul li:hover .dropdown {
    display: block;
}

.menu-bar ul li .dropdown ul {
    list-style: none;
    display: block;
    
    text-align: center;
    padding: 5px 0;
}

.menu-bar ul li .dropdown ul li {
    padding: 8px 15px;
}

.menu-bar ul li .dropdown ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* --- Search Bar --- */
.search-bar {
    margin-left: 5%;
    position: relative;
}

.search-bar input {
    width: 250px;
    border-radius: 20px;
    transition: 0.75s;
}

#icon-search {
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.523);
}

.search-bar input:focus {
    width: 300px;
}

/* --- Flags --- */
.menu-bar .pic {
    padding-left: 50px;
}

.menu-bar .pic img {
    width: 50px;
    margin-left: 10px;
    transition: 0.8s;
}

.menu-bar .pic img:hover {
    transform: scale(1.1);
    border: 1px solid white;
    padding: 2px;
}

/* --- Login Buttons --- */
.login {
    padding-left: 20px;
}

.login button {
    margin-left: 5px;
    font-family: "Bungee", sans-serif;
}

#arrow-down {
    font-size: 15px;
}
.hero-img{
    height: 100vh;
     /* margin-top: 100px; */
    filter: brightness(50%);
    object-fit: cover;
}
.carousel-caption {
      bottom: 0;
      top: 0;
      left:0;
      right: 0;
     
      
     
      
    }
    
/* ===========================
   RESPONSIVE DESIGN SECTION
=========================== */

/* --- Tablet (768px to 1024px) --- */
@media (min-width:481px) and (max-width: 1280px) {
    .menu-bar {
        flex-wrap: wrap;
        height: auto;
      padding: 15px;
    }

    .menu-bar p {
        font-size: 30px;
        margin-top: 15px;
        
      
        
    }
    

    .menu-bar ul li a {
        font-size: 15px;
    }
   

    .search-bar input {
        width: 250px;
        margin-left:-40px ;
    }

    .menu-bar .pic img {
        width: 40px;
    }

    .login button {
        font-size: 12px;
        padding: 5px 5px;
    }
   
}

/* --- Mobile (max 768px) --- */
@media (max-width: 768px) {
    .menu-bar {
         position: static;
        flex-wrap: wrap-reverse;
        /* align-items: flex-start; */
        height: auto;
        padding: 15px;
       
    }
   

    .menu-bar p {
        font-size: 38px;
        margin-left: 30%;
        margin-bottom: 10px;
    }

    .menu-bar ul {
        padding-left: 10px;
        width: 100%;
        
    }
    
    .menu-bar .pic img {
    width: 50px;
    margin-left: 20px;
    transition: 0.8s;
    }
    
    

    /* .menu-bar ul li {
        margin: 5px 0;
    } */

    .menu-bar ul li a {
        font-size: 15px;
    }

    .search-bar {
        width: 270px;
        margin-left: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }

    .search-bar input {
        width: 100%;
        
    }
    .search-bar input:focus {
            width: 290px;
}
    #icon-search{
        right:10px;
    }

    .menu-bar .pic {
        /* padding-left: 0; */
       margin-left: 65px;
        margin-top: 10px;
    }

    .menu-bar .pic img {
        width: 45px;
        
    }

    .login {
        width: 30%;
        margin-top: 10px;
        /* padding-right: 55px; */
        margin-left: -15px;
        
    }

    .login button {
        width: 100%;
        margin: 5px;
        font-size: 14px;
    }
  
 
   
}

/* --- Small phones (max 480px) --- */
@media (max-width: 480px) {
    .menu-bar p {
        font-size: 20px;
    }

    .menu-bar ul li a {
        font-size: 16px;
    }

    .search-bar input {
        font-size: 14px;
    }

    .login button {
        font-size: 12px;
        padding: 4px 8px;
    }
}
    /* Mobile */
@media (max-width: 767px) {
 
  .hero-img{
    
     height: 80vh;
     /* margin-top: 350px; */
    
    
}
.carousel-caption {
      bottom: 0px;
      top: 0;
      left:0;
      right: 0;
     
      
     
      
    }   
  .carousel-control-next{
    margin-top: 5%;
  }
  .carousel-control-prev{
    margin-top: 5%;
  }
  .search-bar{
    margin-left: 55px;
  }
  .menu-bar p {
    font-size: 30px;
   margin-left: 80px;
  }
   .menu-bar .pic{
    margin-left: -60px;
    margin-top: -50px;
   }
   .menu-bar .pic img{
     margin-left: 5px;
   }
   .boxxx .movie .box-card {
        flex: 1 1 90%;
        max-width: 90%;
    }
 
}





/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-img {
    height: 100vh;
   
  }
  .boxxx .movie .box-card {
        flex: 1 1 45%;
        max-width: 45%;
    }
 
  
}


@media (min-width: 1015px) and (max-width: 1600px) {
  .hero-img {
    height: 100vh;
  }
  
   .container1 img{
    margin-left: -30px;

}


  }
 /* Responsive Typography
    .carousel-caption h1 {
      font-size: clamp(1.5rem, 5vw, 3rem);
    }

    .carousel-caption p {
      font-size: clamp(1rem, 2.5vw, 1.25rem);
    } */

    /* Buttons */
    /* .carousel-caption .btn {
      font-size: clamp(0.9rem, 2.5vw, 1rem);
      border-radius: 25px;
    } */
    /* ==============================================footer ================================================*/
 .container1{
 max-width: 1600px;

 margin: auto;
}
.roww{
    display: flex;
    
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: rgba(0, 0, 0, 0.778);
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: white;
    text-align: center;
   text-transform: capitalize;
   margin-bottom: 20px;
   font-family: "BBH Sans Bogle", sans-serif;
     /* font-family: kh3; */
     position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 21%;
    bottom: -10px;
    background-color: blue;
    height: 2px;
    box-sizing: border-box;
    width: 155px;
}
.footer-col ul li {
  text-align: center;
  margin-top: 10px;
  
}
.footer-col ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: f;
    /* font-family: kh6; */
    display: block ;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover{
    color: red;
    padding-left:10px ;
}
.social-Link{
    text-align: center;
   
}
.social-Link a{
    display: inline-block;
     height: 40px;
     color: white;
    width: 40px;
   
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgba(14, 17, 204, 0.345);
    transition: all 0.3s ease;
}
.social-Link a:hover{
    color: red;
    background-color: white;
}
.footer-col p{
    text-align: center;
    font-size: 20px;
    font-family: h;
}
.footer-col p #call{
     display: inline-block;
     height: 40px;
     color: white;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
    
    border-radius: 50%;
    background-color: rgba(14, 17, 204, 0.345);
}
.footer-col p #call:hover{
     color: red;
    background-color: white;
}
/* ===== Responsive Footer ===== */

/* For tablets (max-width: 992px) */
@media (min-width: 768px) and (max-width: 1024px) {
       .container1{
    flex-direction: column;
    padding: 0;
}
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  
   
}

/* ===== Default: Desktop (large screens) ===== */
.footer-col {
  width: 25%; /* 4 columns */
}

/* ===== Tablet (max-width: 992px) ===== */
@media (max-width: 992px) {
 
  .footer-col {
    margin-top: 20px;
    width: 50%; /* 2 columns */
    margin-bottom: 30px;
  }

  .footer-col h4::before {
    left: 30%;
    width: 150px;
  }
 

  .footer-col h4 {
    font-size: 22px;
  }

  .footer-col ul li a {
    font-size: 18px;
  }
  .container1 img{
    margin-left: 180px;
}
 .menu-bar ul {
  margin-left: 15px;
 }
 .menu-bar ul li a{
    font-size: 25px;
  }
             
}


/* ===== Mobile (max-width: 787px) ===== */
@media (max-width: 787px) {

.container1{
    flex-direction: column;
    padding: 0;
}
.container1 img{
    margin-left: -10px;
}
  .roww {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    width: 100%; /* 1 column */
    padding: 10px 0;
  }

  .footer-col h4::before {
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
  }

  .footer-col h4 {
    font-size: 20px;
  }

  .footer-col ul li a {
    font-size: 17px;
  }

  .footer-col p {
    font-size: 17px;
  }
   .menu-bar ul{
    margin-left: -10px;
   }
  .menu-bar ul li a{
    font-size: 15px;
  }
    
}
.boxxx{
  margin-bottom: 20px;
   
}
.movie{
 margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}
.movie .box-card{
    flex: 1 1 22%;     
    max-width: 100%;
   position: relative;
   overflow: hidden;            
  border-radius: 15px;
  width: 400px;
  height: 300px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.box-card img {
      width: 100%;
      transition: transform 0.75s ease;
     
      
    }

    .box-card:hover img {
     
      height: 100%;
      object-fit: cover;
    transform: scale(1.1);
    transition: transform 0.75s ease;
}
   .box-card button {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 35px;
      margin: 0;
      font-family: a;
      background:rgba(198, 4, 4, 0.67);
      color: white;
      border: none;
      border-radius: 5px;
      opacity: 0;
      transition: 0.3s;
      cursor: pointer;
      font-size: 15px;
    }
    #title{
      padding-left: 20px;
      padding-top: 20px;
      font-family: f;
      font-size:25px;
    }
    #play{
      font-size: 20px;
      position: absolute;
      top: 10%;
    }
   .box-card button:hover{
      box-shadow: rgba(228, 230, 233, 0.4) 0px 0px 0px 2px, rgba(246, 247, 248, 0.65) 0px 4px 6px -1px, rgba(244, 238, 238, 0.08) 0px 1px 0px inset;
      background-color: rgba(0, 0, 255, 0.366);
      
    }

    /* Hover effect */
    .box-card:hover {
      transform: scale(1.05);
    }

    .box-card:hover button {
      opacity: 1;
      bottom: 20px;
    }
  .box-card:hover .iteam-view,
  .box-card:hover .card-body h5,
  .box-card:hover .card-body p {
  opacity: 0;
  /* visibility: hidden; */
  transition: opacity 0.3s ease;
}

.iteam-view{
      width: 100%;
      height: auto;
      display: flex;
      justify-content:space-between;
      align-items: center ;
      padding: 0 10px;
      
      position: absolute;
      bottom: 5%;
      span{
        font-size: 11px;
        color: white;
        width: 75px;
        font-family: h;
        text-align: center;
        padding:  4px 10px;
        background-color: rgba(215, 14, 14, 0.729);
        border-radius: 10px;
        opacity: 1;
         

      }
      /* & #icon{
        font-size: 12px;
        text-align: center;
        margin-left:-3px;
      } */
     
}
                     