@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Bebas+Neue&family=Bungee&family=Dangrek&family=Koulen&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Moul&family=Playwrite+DE+SAS:wght@100..400&family=Shadows+Into+Light&display=swap');
@font-face {
  font-family: "blazed";
  src: url(./Blazed.ttf);
}
@font-face {
  font-family: "facon";
  src: url(./Facon.ttf);
}
@font-face {
  font-family: "autumn";
  src: url(Autumn\ History\ Demo.otf);
}
@font-face {
  font-family: "a";
  src: url(./Lucy\ Said\ Ok\ Personal\ Use.ttf);
}
@font-face {
  font-family: "b";
  src: url(./Quivert.ttf);
}
@font-face {
  font-family: "c";
  src: url(./Rockybilly.ttf);
}
@font-face {
  font-family: "d";
  src: url(./Awesome.ttf);
}
@font-face {
  font-family: "e";
  src: url(./Angelos.ttf);
}
@font-face {
  font-family: "f";
  src: url(./Valty\ DEMO.otf);
}
@font-face {
  font-family: "g";
  src: url(./Rasedia-Regular.otf);
}
@font-face {
  font-family: "h";
  src: url(./Blinery.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: 100%;
}

.menu-bar {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    position: fixed;
    
   
    z-index: 1000;
}

.menu-bar p {
    color: yellow;
    font-size: 30px;
    padding-left: 20px;
    font-family: "Lilita One", sans-serif;
}

/* --- Main Menu --- */
.menu-bar ul {
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
}

.menu-bar ul li {
    padding: 0 10px;
    margin-top: 10px;
    position: relative;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
}

.menu-bar ul li a:after {
    content: '';
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
    transition: 0.5s;
}

.menu-bar ul li a:hover:after {
    width: 100%;
}

.menu-bar ul li a:hover {
    color: red;
}

/* --- DROPDOWN MENU --- */
.menu-bar ul li .dropdown {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    min-width: 150px;
    z-index: 10;
}

.menu-bar ul li:hover .dropdown {
    display: block;
}

.menu-bar ul li .dropdown ul {
    list-style: none;
    display: block;
    
    text-align: center;
    padding: 5px 0;
}

.menu-bar ul li .dropdown ul li {
    padding: 8px 15px;
}

.menu-bar ul li .dropdown ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* --- Search Bar --- */
.search-bar {
    margin-left: 5%;
    position: relative;
}

.search-bar input {
    width: 250px;
    border-radius: 20px;
    transition: 0.75s;
}

#icon-search {
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.523);
}

.search-bar input:focus {
    width: 300px;
}

/* --- Flags --- */
.menu-bar .pic {
    padding-left: 50px;
}

.menu-bar .pic img {
    width: 50px;
    margin-left: 10px;
    transition: 0.8s;
}

.menu-bar .pic img:hover {
    transform: scale(1.1);
    border: 1px solid white;
    padding: 2px;
}

/* --- Login Buttons --- */
.login {
    padding-left: 20px;
}

.login button {
    margin-left: 5px;
    font-family: "Bungee", sans-serif;
}

#arrow-down {
    font-size: 15px;
}
.hero-img{
    height: 100vh;
     /* margin-top: 100px; */
    filter: brightness(50%);
    object-fit: cover;
}
.carousel-caption {
      bottom: 0;
      top: 0;
      left:0;
      right: 0;
     
      
     
      
    }
    
/* ===========================
   RESPONSIVE DESIGN SECTION
=========================== */

/* --- Tablet (768px to 1024px) --- */
@media (min-width:481px) and (max-width: 1280px) {
    .menu-bar {
        flex-wrap: wrap;
        height: auto;
      padding: 15px;
    }

    .menu-bar p {
        font-size: 30px;
        margin-top: 15px;
        
      
        
    }
    

    .menu-bar ul li a {
        font-size: 15px;
    }
   

    .search-bar input {
        width: 250px;
        margin-left:-40px ;
    }

    .menu-bar .pic img {
        width: 40px;
    }

    .login button {
        font-size: 12px;
        padding: 5px 5px;
    }
}

/* --- Mobile (max 768px) --- */
@media (max-width: 768px) {
    .menu-bar {
         position: static;
        flex-wrap: wrap-reverse;
        /* align-items: flex-start; */
        height: auto;
        padding: 15px;
       
    }
   

    .menu-bar p {
        font-size: 38px;
        margin-left: 30%;
        margin-bottom: 10px;
    }

    .menu-bar ul {
        padding-left: 10px;
        width: 100%;
        
    }
    .menu-bar .pic img {
    width: 50px;
    margin-left: 20px;
    transition: 0.8s;
    }
    
    

    /* .menu-bar ul li {
        margin: 5px 0;
    } */

    .menu-bar ul li a {
        font-size: 15px;
    }

    .search-bar {
        width: 270px;
        margin-left: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }

    .search-bar input {
        width: 100%;
        
    }
    .search-bar input:focus {
            width: 290px;
}
    #icon-search{
        right:10px;
    }

    .menu-bar .pic {
        /* padding-left: 0; */
       margin-left: 65px;
        margin-top: 10px;
    }

    .menu-bar .pic img {
        width: 45px;
        
    }

    .login {
        width: 30%;
        margin-top: 10px;
        /* padding-right: 55px; */
        margin-left: -15px;
        
    }

    .login button {
        width: 100%;
        margin: 5px;
        font-size: 14px;
    }
   
}

/* --- Small phones (max 480px) --- */
@media (max-width: 480px) {
    .menu-bar p {
        font-size: 20px;
    }

    .menu-bar ul li a {
        font-size: 16px;
    }

    .search-bar input {
        font-size: 14px;
    }

    .login button {
        font-size: 12px;
        padding: 4px 8px;
    }
}
    /* Mobile */
@media (max-width: 767px) {
 
  .hero-img{
    
     height: 80vh;
     /* margin-top: 350px; */
    
    
}
.carousel-caption {
      bottom: 0px;
      top: 0;
      left:0;
      right: 0;
     
      
     
      
    }   
  .carousel-control-next{
    margin-top: 5%;
  }
  .carousel-control-prev{
    margin-top: 5%;
  }
  .search-bar{
    margin-left: 55px;
  }
  .menu-bar p {
    font-size: 30px;
    margin-left: 65px;
  }
   .menu-bar .pic{
    margin-left: -60px;
    margin-top: -50px;
   }
   .menu-bar .pic img{
     margin-left: 5px;
   }
}





/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-img {
    height: 100vh;
   
  }
  
}


@media (min-width: 1015px) and (max-width: 1600px) {
  .hero-img {
    height: 100vh;
  }
  
  
   
  }
 /* Responsive Typography
    .carousel-caption h1 {
      font-size: clamp(1.5rem, 5vw, 3rem);
    }

    .carousel-caption p {
      font-size: clamp(1rem, 2.5vw, 1.25rem);
    } */

    /* Buttons */
    /* .carousel-caption .btn {
      font-size: clamp(0.9rem, 2.5vw, 1rem);
      border-radius: 25px;
    } */